# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
ENV/
.venv/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Environment variables
.env
.env.*

# Test and coverage outputs
.coverage
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Ignore all markdown files except README.md
*.md
!README.md 